*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__div{
    background: lightcoral;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center ;
}
.center__div{
    width: 80%;
    height: 80%;
    display: grid;
    place-items: center;
}
#form1{
    padding: 40px;
    margin: 30px;
    margin
}