*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: lightcoral;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid{
  height: 30vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.grid:hover{
  transform: translateY(-30px);
  color: white;
  
}